body {
	font-family: Verdana, sans-serif;
	font-size: 14px;
	line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	letter-spacing: 0.1rem;
}

hr {
	height: 0;
	border: 1px solid #E1E1E1;
}

h1 a, h2 a {
	color: #000;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1 a:hover, h2 a:hover {
	text-decoration: underline;
}

.tags {
	margin: 0.25rem 0;
}

.tags ul {
	margin: 0;
	padding: 0;
	display: inline-block;
}

time, .tags li, header p {
	color: #606060;
	font-size: 0.8rem;
}

.tags li {
	display: inline-block;
	padding-right: 0.25rem;
}

blockquote {
	font-style: italic;
	color: #444444;
	margin: 1rem 2rem;
}

p {
	margin: 0 0 1.5rem;
}

.container {
	margin: 1rem auto;
	max-width: 540px;
	padding: 0 1rem;
}

header {
	text-align: center;
	margin: 2rem 0;
}

header h1 {
	font-size: 1.1rem;
	text-transform: uppercase;
	margin: 0 0 0.25rem;
}
article {
	margin: 2rem 0;
	padding: 0.5rem 1rem;
}

article h1 {
	margin: 0 0 0.5rem;
	font-size: 1.5rem;
}

article .title {
	padding-bottom: 0.25rem;
	border-bottom: 1px solid #E1E1E1;
}

article h2 {
	font-size: 0.95rem;
}

article h3 {
	font-size: 0.9rem;
}

article h2, article h3 {
	text-transform: uppercase;
}

pre {
	background-color: #EEEEEE;
	padding: 1rem;
	overflow: auto;
}

.meta {
	margin-top: 1rem;
}

footer {
	font-size: 0.8rem;
}